<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mmc.lamandys.liba_datapick">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".AutoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="主页面">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SecondActivity"
            android:label="二页面" />
        <activity
            android:name=".activity.TabActivity"
            android:label="Tab页面"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".activity.ToolBarActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.RadioActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".activity.DrawerActivity"
            android:label="@string/title_activity_drawer" />
    </application>

</manifest>